/Futboleros/nbproject/private/
/Futboleros/Futboleros-war/nbproject/private/
/Futboleros/Futboleros-ejb/nbproject/private/
/Futboleros/Futboleros-ejb/build/
/Futboleros/Futboleros-ejb/dist/
Futboleros/Futboleros-ejb/src/conf/META-INF/glassfish-resources.xml
/Futboleros/Futboleros-war/build/
/Futboleros/Futboleros-war/dist/
/Futboleros/build/